html {
  background: url(http://sdeerwallpaper.com/Cool-Wallpapers/anime-scenery-wallpaper-desktop-background-Is-Cool-Wallpapers.jpg) bottom center;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

:root {
  --base: #F78F9F;
  --spacing: 10px;
  --blur: 0px;
}

img {
  height: 500px;
  width: auto;
  position: absolute;
}

#image {
  background-image: url('');
  background-size: cover;
  background-position: center;
  height: 310px;
  width: 240px;
  border: 1px solid #bbb;
  position: absolute;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.controls {
  position: relative;
  margin-top: 50px;
}

.top {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  min-height:100vh;
  z-index: 1;
  margin-top: -2%;
}

#getval {
  margin-left: 8%;
  z-index: 2;
  margin-top: 40%;
  font-size: 14px;
}
